#General
PointToPointMessagingWithRabbitMQ/.vs

#Consumer
PointToPointMessagingWithRabbitMQ/Consumer/bin
PointToPointMessagingWithRabbitMQ/Consumer/obj

#Publisher
PointToPointMessagingWithRabbitMQ/Publihser/bin
PointToPointMessagingWithRabbitMQ/Publihser/obj